{% extends 'home/main.html' %}
{% load static %}

{% block title %}
    Our Services - NutriTrack
{% endblock %}

{% block body %}
<main>
    <div class="flex flex-col items-center px-6 py-12 max-w-4xl mx-auto"> <!-- determines the width and height of the children (flex to allow for centering)-->

        <h1 class="text-4xl font-bold text-center mb-6">What NutriTrack Offers</h1>
        <p class="text-center text-lg mb-8 max-w-2xl">
            Empower your health journey with NutriTrack's tailored tools and insights!
        </p>

        <!-- Services -->
        <div class="flex flex-col gap-6 w-full"> <!-- children are all as big as parent, and aligned horizontally with a gap of 6-->
            <div class="bg-gray-100 p-6 rounded-lg shadow">
                <h2 class="text-2xl font-semibold mb-2">Personalized Profiles</h2>
                <p>Custom recommendations based on your physical data.</p>
            </div>
            <div class="bg-gray-100 p-6 rounded-lg shadow">
                <h2 class="text-2xl font-semibold mb-2">Smart Meal Logging</h2>
                <p>Track meals, categorize food groups, monitor calories automatically.</p>
            </div>
            <div class="bg-gray-100 p-6 rounded-lg shadow">
                <h2 class="text-2xl font-semibold mb-2">Set and Achieve Your Goals</h2>
                <p>Set dietary goals and get reminder support.</p>
            </div>
            <div class="bg-gray-100 p-6 rounded-lg shadow">
                <h2 class="text-2xl font-semibold mb-2">Visual Reports & Insights</h2>
                <p>Analyze your eating habits using visual data.</p>
            </div>
            <div class="bg-gray-100 p-6 rounded-lg shadow">
                <h2 class="text-2xl font-semibold mb-2">Hydration & Activity Tracking</h2>
                <p>Track water intake and exercise together.</p>
            </div>
            <div class="bg-gray-100 p-6 rounded-lg shadow">
                <h2 class="text-2xl font-semibold mb-2">Anywhere, Anytime Access</h2>
                <p>Use NutriTrack across your devices securely.</p>
            </div>

        </div>
    </div>
</main>
{% endblock %}
