# Default ignored files
/shelf/

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/

#common compiled python files
__pycache__/
*.pyc
*.pyo

#virtual environment dictionaries
.venv/
.env/

#ide project files
/.idea/
workspace.xml
/dataSources.local.xml
profiles_settings.xml

#SQlite database file
db.sqlite3

tailwind.config.js
tailwindcss