# Default ignored files
/shelf/

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/

# Common compiled python files
__pycache__/
*.pyc
*.pyo

# Virtual environment directories
.venv/
.env/

# IDE project files
/.idea/
workspace.xml
/dataSources.local.xml
profiles_settings.xml

# Tailwind
tailwind.config.js
tailwindcss

# Database file
db.sqlite3

# Collected static files
/staticfiles/
